<div class="modal">
  <div class="dialog-header">
    <div class="title">
      <h1 mat-dialog-title> {{ data?.name }} </h1>
      <mat-icon class="close-btn">
        <i class="material-icons" (click)="closeDialog()">close</i>
      </mat-icon>
      <div class="breadscrumb">
        <h5 (click)="gotoAlbums()"> Albums </h5>
        <h5 *ngIf="stepper.selectedIndex > 0"> /Photos <small>({{selectedAlbum.id}} - {{selectedAlbum.title}})</small></h5>

      </div>
    </div>
  </div>
  <div mat-dialog-content>

    <div class="loader" *ngIf="loading">
      <mat-spinner [color]="primary" [mode]="determinate" [diameter]="35"></mat-spinner>
    </div>

    <mat-horizontal-stepper [hidden]="loading" #stepper>

      <mat-step>
        <div *ngFor="let album of albums">
          <mat-card class="album-conatiner">
            <mat-card-header>
              <mat-card-title>{{album.id}} - {{album.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <button mat-raised-button color="primary" (click)="viewPhotos(album)" matTooltip="View Photos"
                matTooltipPosition="above">
                <mat-icon>remove_red_eye</mat-icon> Photos
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-step>
      <mat-step>
        <div *ngFor="let photo of photos">

          <mat-card class="photo-container">
            <mat-card-header>
              <div mat-card-avatar class="has-image">
                <img [src]="photo.thumbnailUrl" class="thumbnail">
              </div>
              <div>
                <mat-card-title>{{photo.title}}</mat-card-title>
              </div>
            </mat-card-header>
            <img mat-card-image [src]="photo.url" class="main-photo">
          </mat-card>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>

</div>
